# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.code-workspace

#Database
*/*.db
*/*.sqlite
*.sqlite
*.db
database/*


# Local History for VS Code
.history/

# ipynb checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints
*/.ipynb_checkpoints

# pycache
__pycache__/*
__pycache__
.__pycache__